body {
    background: #cccccc url("../images/background_task4.png");
}

table {
    width: 30%;
    margin:auto;
    font-family: serif;
    border-collapse: collapse;



}

th {
    background-color:green;
    color:white;
    text-align:center;
}

.white {
    background-color:white;
    color:blue;
}

td {
    color:grey;
}

td, th {
    border-bottom: 3px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 25px;
}
