body {
    background-color: white;
}

img {
    transition: transform 0.5s ease;
    width: 90%;
}

img:active {
    transform: scale(3);
}

/* Table */
table {
    width: 67%;
    text-align: center;
}

.single {
    width: 20%;
    text-align: center;

}

.line {
    width: 100%;

}

#double {
    width: 40%;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    padding: 15px;
}

