* {
    box-sizing: border-box;
}

body {
    background-color: #262626;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    color: black;
    text-align: left;
}

#container {
    position: absolute;
    width: 30%;
    height: 80%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 15px solid #ebeff1;
    background-color: black;
}

header {
    width: 100%;
    height: 13%;
    overflow: hidden;
    box-sizing: border-box;
}

#hleft {
    display: block;
    float: left;
    width: 75%;
    height: 100%;
    background-color: #0dd24e;
    padding: 10px 10px;
    border-bottom: 10px solid #ebeff1;
}

#hright {
    display: block;
    float: right;
    width: 25%;
    height: 100%;
    background-color: #0dd24e;
    padding: 10px 10px;
    border-left: 10px solid #ebeff1;
    border-bottom: 10px solid #ebeff1;
}

section {
    width: 100%;
    height: 75%;
}

#laside {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
    background-color: #ead24e;
    padding: 10px 10px;
    border-right: 10px solid #ebeff1;
    overflow: auto;
}

#main {
    display: block;
    float: left;
    width: 55%;
    height: 100%;
}

#mtop {
    display: block;
    float: top;
    width: 100%;
    height: 17%;
    background-color: #4e59ea;
    padding: 10px 10px;
    border-bottom: 10px solid #ebeff1;
}

#mmiddle {
    display: block;
    float: top;
    width: 100%;
    height: 17%;
    background-color: #4e59ea;
    padding: 10px 10px;
    border-bottom: 10px solid #ebeff1;
}

#mbottom {
    display: block;
    float: top;
    width: 100%;
    height: 66%;
    background-color: #4e59ea;
    padding: 10px 10px;
    overflow: auto;
}

#raside {
    display: block;
    float: right;
    width: 25%;
    height: 100%;
    background-color: red;
}

#raside_top {
    display: block;
    float: top;
    width: 100%;
    height: 34%;
    background-color: #ea644e;
    padding: 10px 10px;
    border-left: 10px solid #ebeff1;
    border-bottom: 10px solid #ebeff1;
}

#raside_bottom {
    display: block;
    float: top;
    width: 100%;
    height: 66%;
    background-color: #ea644e;
    padding: 10px 10px;
    border-left: 10px solid #ebeff1;
    overflow: auto;
}

footer {
    display: block;
    float: left;
    width: 100%;
    height: 16%;
    background-color: #3dcbbf;
    padding: 10px 10px;
    border-top: 10px solid #ebeff1;
}