* {
    box-sizing: border-box;
    margin: 0;
}

html, body, section {
    background-color: #f2e1e1;
    height: 100%;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}

h1, h3 {
    font-weight: lighter;
}

h1 {
    font-size: 64px;
}

h3 {
    font-size: 30px;
}

.wide {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bgimg {
    background-image: url("wedding_couple.jpg"); /* The image used */
}

#text-white {
    color: #fff;
    line-height: 1.8;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
    background-color: #fff;
    opacity: 0.7;
    z-index: 999;
}

li {
    float: left;
}

li {
    display: inline-block;
    color: black;
    width: 25%;
    text-align: center;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: lightgrey;
}

#hover-black li:hover {
    background-color: black;
    color: white;
}

section {
    width: 100%;
    min-height: 100%;
    margin: auto;

}

.section1 {
    width: 980px;
    margin: auto;
    font-size: 1.6em;
    padding: 74px 0px 10px 0px;
}

.text-grey {
    color: #757575;
    text-align: center;
}

#section2 {
    width: 980px;
    height: 506px;
    margin: auto;
    background-image: url("wedding_couple2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-height: 100%;
    filter: grayscale(50%);
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 4px
}

#section3 {
    width: 980px;
    font-style: oblique;
    margin: auto;
    text-align: left;
    line-height: 2em;
}

#section4 {
    width: 980px;
}

button {
    width: 185px;
    height: 60px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    margin-top: 55px;
    margin-bottom: 75px;
}

button:hover {
    background-color: lightgrey;
    color: black;
    border: 0px;
}

#bgimg2 {
    background-image: url("flowers.jpg"); /* The image used */
    min-height: 100%;
}

#text-white2 {
    color: #fff;
    line-height: 2.5;
    letter-spacing: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section6 {
    width: 980px;
    margin: auto;
    font-size: 1.6em;
    padding-top: 75px;
    padding-bottom: 10px;
}

#section7 {
    width: 980px;
    height: 600px;
    margin: auto;
    background: url("wedding_location.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: grayscale(70%);
    border-radius: 4px;
    margin-top: 64px;
    margin-bottom: 64px;
}

#section8 {
    width: 980px;
    margin: auto;
    padding-bottom: 220px;
}

aside {
    display: block;
    float: left;
    width: 50%;
}

main {
    display: block;
    float: right;
    width: 50%;
}

#aside_top, #main_top {
    line-height: 2;
    letter-spacing: 0px;
    font-size: 2em;
}

.aside_bottom, .main_bottom {
    line-height: 3;
    letter-spacing: 0px;
    font-size: 1em;
}

#section9 {
    width = 100%;
    background-color: #ffdddd;
    padding: 60px 0px 0px 0px;
    letter-spacing: 4px;
    line-height: 2;

}

.RSVP {
    width: 185px;
    height: 65px;
    background-color: #f44336;
    color: white;
    opacity: 0.6;
    border: 0px solid black;
    border-radius: 4px;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    padding: 0px 40px;
    font-weight: bold;
}

a:link {
     color: white;
 }

a:hover {
    color: green;
}

.RSVP:hover {
    background-color: lightgrey;
    color: black;
    border: 0px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 55px;
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* Full width */
    height: 340px; /* Full height */
    margin: auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 50px 50px 50px 50px;
    width: 100%;
    height: 100%;
}

input {
    width: 90%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    font-size: 1em;
    padding: 10px;
    color: lightgrey;
}

#going {
    display:block;
    float:left;
    width:45%;
    margin-left:5%;
    border: 1px solid green;
    background-color:green;
    color:white;
    padding: 5px 70px 5px 70px;
    margin-top:15px;
    margin-bottom:20px;
    opacity:0.7;
}

#going:hover {
    background-color:lightgrey;
    color:black;
    border:0px;
}

#Cant_come:hover {
    background-color:lightgrey;
    color:black;
    border:0px;
}

#Cant_come {
    display:block;
    float:left;
    width:45%;
    margin-right:5%;
    border: 1px solid red;
    background-color:red;
    color:white;
    padding: 5px 65px 5px 65px;
    margin-top:15px;
    margin-bottom:20px;
    opacity:0.7;
}

.close {
    width:100%;
}
